<app-navbar>
</app-navbar>

<div class="cover" style="text-align:center;">

  <video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>
    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
    <source src="http://airbuzz.dk/resources/demovideos/polina.webm" type="video/webm">
  </video>
  
</div>
<div class="video-overlay"> </div>
<app-pagecontent></app-pagecontent>
<footer class="w3-card-4">
  <div class="footerContent">
    <p>AirBuzz.dk, Borgergade 18, 6700 Esbjerg. Tlf: 30366636. CVR nr. 37531154</p>
  </div>
</footer>

